name: CI

on:
  push:
    branches: [ release ]  # Триггер на пуши в ветку release
  pull_request:
    branches: [ release ]  # Триггер на PR в ветку release

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Дает право записывать в ветку gh-pages
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: release

    # 2. Устанавливаем Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    # 3. Устанавливаем зависимости (Sphinx и тема)
    - name: Install dependencies
      run: |
        pip install sphinx sphinx-rtd-theme

    # 4. Собираем HTML-документацию
    - name: Build documentation
      run: |
         sphinx-build -b html docs/source/ docs/build/

    # 5. Разворачиваем документацию на GitHub Pages
    - name: Deploy to GitHub Pages
      if: github.event_name == 'push' && github.ref == 'refs/heads/release'  # Деплоим только при прямом пуше в release
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build  # Папка с собранной документацией
        publish_branch: gh-pages  # Ветка, куда будет заливаться сайт
