name: CI

on: [push, pull_request]

jobs:
  docs:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - run: pip install sphinx
    
    - name: Create Sphinx docs
      run: |
        mkdir -p docs
        sphinx-quickstart docs --quiet --project "lab-git-demo" --author "Kvanden1"
        
        # Простой conf.py
        echo "project = 'My Project'" > docs/conf.py
        echo "html_theme = 'alabaster'" >> docs/conf.py
        
        # Простой index.rst
        echo "My Documentation" > docs/index.rst
        echo "================" >> docs/index.rst
        echo "" >> docs/index.rst
        echo "Hello from Sphinx!" >> docs/index.rst
        
        cd docs
        sphinx-build -b html . _build
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
